*, :after, :before {
  box-sizing: border-box;
}

body {
	font-family: ui-sans-serif, system-ui, sans-serif;
  font-size: 17px;
	margin: auto;
  background-color: #e2e1e0;
}

.wrap {
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.content {
  padding: 2em;
}

.option {
  display: block;
	margin-bottom: 1.5em;
}

.saveAndStatus {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

#status {
  font-size: 0.8em;
}

footer {
  border-top: 1px solid;
  font-size: 0.8em;
  padding: 1em 2em;
}